*{
  text-align: center ;
} */

 #holder {
  text-align: center;
}

.product{
  margin: 0 auto;
}

img {
  border-radius: 50%;
}

canvas{

  width:1000px !important;
  height:600px !important;
  margin: 0 auto;
}
