*{
  text-align: center ;
} */

 #holder {
  text-align: center;
}

.product{
  margin: 0 auto;
}

img {
  border-radius: 50%;
  border: 8px solid black;
}
img:hover {
  
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

canvas{

  width:1000px !important;
  height:600px !important;
  margin: 0 auto;
}

html {
  background-color: rgb(153, 206, 187);
}


